html, body{
    margin: 0;
    padding: 0;
}

#main {
    /* 
    attachment: fixed : 배경 움직이지 않게 고정
    */
    background: url(../img/background-img.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

#backgroud {
    display: none;
}

.setOfButton, #dillerCards, #userCards {
    /* body에서 X축의 가운데로 이동 */
    position: relative;
    width: 50%;
    left: 50%;
    transform:translateX(-50%);
    text-align: center; 
}
#dillerCards {
    padding: 100px;   
}
#userCards {
    padding: 100px;   
}
.setOfButton {
    margin-top: 100px;
    
}
.btn {
    /* 버튼 모양 생성 */
    background-color: pink;
    border: 2px solid beige;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: bold;
    margin: 30px;
    width: 150px;
    height: 50px;
}

.card {
    height: 250px;
}

img {
    padding: 30px;
}